body{
	font-family:"Microsoft Yahei","微软雅黑",Tahoma,Helvetica,Arial,sans-serif;
	line-height: 16px;
	color:#3b3b3b;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,.lead{
	font-family:"Microsoft Yahei","微软雅黑",Tahoma,Helvetica,Arial,sans-serif;
}

h3{
	font-weight: 700;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

table{
	text-align: center;
}

thead{
	min-height:40px;
	padding-right:20px;
	padding-left:20px;
	background-color:#FAFAFA;
	background-image:-moz-linear-gradient(top,white,#F2F2F2);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(white),to(#F2F2F2));
	background-image:-webkit-linear-gradient(top,white,#F2F2F2);
	background-image:-o-linear-gradient(top,white,#F2F2F2);
	background-image:linear-gradient(to bottom,white,#F2F2F2);
	background-repeat:repeat-x;
	border:1px solid #D4D4D4;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.065);
	-moz-box-shadow:0 1px 4px rgba(0,0,0,0.065);
	box-shadow:0 1px 4px rgba(0,0,0,0.065);
}

.font16{
	font-size: 16px;
	line-height: 20px;
}

/*index.html*/
.navbar-collapse{
	float:right;
}

.navbar-li{
	height: 90px;
}

.navbar-li > a{
	padding: 5px 20px !important;
	font-size: 18px;
	text-transform: capitalize;
}

.banner{
	background-color: rgba(0, 0, 0, 0);
	background-image: url('../images/banner_bg.jpg');
	width: 100%;
	height: 400px;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat no-repeat;
	padding-top: 50px;
}

.bantxt{
	color: #f7f7f8;
	text-align: left;
	position: relative;
	top: 80px;
	padding: 0 25px;
}

.banbtn{
	right: 8%;
	top: 80px;
}

.btn-signup{
	margin: 50px auto 10px;
	line-height: 16px;
	padding: 0px 20px 10px 20px;
	font-size: 24px;
	border: 0
}

.btn-blue{
	color: #1f90c8;
	border: 1px solid #cfeaf8;
	background: #fff;
}

.btn-blue:hover{
	background: #e7f4fb;
	border: 1px solid #cfeaf8;
	color: #1c82b4;
}

.btn-gray{
	color: #7a828b;
	border: 0;
	background: #24282f;
}

.btn-gray:hover{
	color: #24282f;
	border: 0;
	background: #009f77;
}

.btn-gray:focus{
	color: #7a828b;
	border: 0;
	background: #24282f;
}

.btn-submit{
	margin: 15px auto;
	width: 20%;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
}

.service{
	margin-top: 30px;
}

.service h3{
	text-align: center;
}

.desc{
	margin: 30px 0;
	font-size: 16px;
	line-height: 1.8em;
	color: #999;
}

.support{
	width: 600px;
	padding-bottom: 30px;
}

.support-header{
	text-align: center;
	margin: 60px 0 10px;
	font-weight: 200;
	margin-bottom: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail{
	text-align: center;
}

.thumbnail a{
	display: inline-block;
}

.thumbnail a:hover{
	opacity: 0.7;
}

.footer{
	padding: 30px;
	border-top: 1px solid rgba(218,222,225,0.85);
	background: #f7f7f8 none repeat center top;
}

.footer h4{
	margin-bottom: 20px;
}

.bottom-bar{
	padding: 30px;
	border-top: 1px solid rgba(218,222,225,0.85);
	color: #555;
	background: #292929 none repeat center top;
}

.menu-list{
	padding-bottom: 10px;
}

.menu-list li{
	margin: 10px 0 0 0;
	padding: 9px 0 0 0;
}

.menu-list a{
	background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2213px%22%20height=%2213px%22%20viewBox=%220%200%2013%2013%22%20enable-background=%22new%200%200%2013%2013%22%20xml:space=%22preserve%22%3E%3Cpath%20fill=%22%232a83ed%22%20d=%22M6.501,1.084c1.448,0,2.812,0.565,3.836,1.593c1.019,1.022,1.581,2.38,1.581,3.823c0,1.445-0.56,2.801-1.581,3.823c-1.022,1.027-2.388,1.595-3.836,1.595c-1.45,0-2.812-0.567-3.836-1.595C1.646,9.301,1.084,7.945,1.084,6.5c0-1.442,0.561-2.801,1.58-3.823C3.688,1.649,5.051,1.084,6.501,1.084%20M6.501,0%09C2.91,0,0,2.911,0,6.5C0,10.091,2.91,13,6.501,13C10.09,13,13,10.091,13,6.5C13,2.911,10.09,0,6.501,0L6.501,0z%22/%3E%3Cpolygon%20fill=%22%232a83ed%22%20points=%225.547,2.766%209.229,6.534%205.702,10.256%204.625,9.219%207.285,6.474%204.547,3.797%20%22/%3E%3C/svg%3E");
	background-position: 0 50%;
	background-repeat: no-repeat;
	position: relative;
	display: block;
	padding-left: 20px;
}

.menu-list .first{
	margin-top: 0;
	padding-top: 0;
	border-top: none !important;
}

.menu-item{
	border-style: solid;
	border-width: 1px;
	border-color: rgba(218,222,225,0.85);
	border-left: none;
	border-right: none;
	border-bottom: none;
}

/*func.html*/
.config{
	margin-top: 90px;
	color: #7a828b;
	background: #2c323c;
}

.config h4{
	padding-left: 30%;
}

.form-group .font16{
	line-height: 34px;
}

ul.list{
	float: right;
}

ul.first-li{
	float: left;
}

.memory ul, .disk ul, .cpu ul{
	width: 50%;

}

.price{
	margin-top: 30px;
}

.intro{
	height: 125px;
}

.img-loading{
	text-align: center;
}

.text-indent{
	text-indent: 32px;
}

/*font Entypo*/
@font-face{
    font-family: 'entypo';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^=icon-],[class*=" icon-"]{
	vertical-align:middle;
}
[class^=icon-]:after,[class*=" icon-"]:after,[class^=icon-]:before,[class*=" icon-"]:before{
	font-family: "entypo";
	font-weight:400;
	font-style:normal;
	text-align:center;
	display:inline-block;
	text-decoration:none;
	font-size: 50px;
}
.icon{
	text-align:center;
	vertical-align:baseline;
	line-height: 1;
	margin-right: 5px;
}
.icon-addr::before{
	content:'\1F53F';
}
.icon-mail::before{
	content:'\1F304';
}
.icon-tel::before{
	content:'\1F4F1';
}
.icon-global::before{
	content: '\1F30E';
}
.icon-champion::before{
	content: '\1F3C6';
}
.icon-chart::before{
	content: '\1F4CA';
}
.icon-cart::before{
	content: '\E73D';
}
.icon-money::before{
	content: '\1F549';
}
.icon-report::before{
	content: '\1F4CB';
}
.icon-go::before{
	content: '\E75A';
	top: 5px;
	left: -5px;
	position: relative;
}
.icon-go{
	margin-right: 0;
}
.icon-home::before{
	content: '\2302';
}
.icon-help::before{
	content: '\E704';
}
.icon-func::before{
	content: '\1F4F8';
}
.icon-about::before{
	content: '\E700';
}

h3 .icon{
	font-size:60px;
	position: relative;
	top: 7px;
}

a .icon{
	position: relative;
	top: 5px;
}

.btn-signup .icon{
	position: relative;
	top:-8px;
}


#logo{
	width: 235px;
	height: 90px;
	background: url('../images/logo.png') no-repeat left center;
}
