*.pyc

benchmark/remotescript/bonnie/results
benchmark/remotescript/unixbench/results
benchmark/remotescript/unixbench/benchmark.conf
website/SimpleCloud/database.conf
website/*/migrations

crawlclient/node_modules
