<nav class="navbar navbar-default navbar-fixed-top" roll="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" id="logo"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="navbar-li">
                    <a href="/"><span class="icon icon-home"></span>首页</a>
                </li>
                <li class="navbar-li">
                    <a href="/deploy"><span class="icon icon-func"></span>功能</a>
                </li>
                <li class="navbar-li">
                    <a href="/cloudmanagers/index/"><span class="icon icon-about"></span>登录</a>
                </li>
                <li class="navbar-li">
                    <a href="#"><span class="icon icon-help"></span>帮助</a>
                </li>
            </ul>
        </div>
    </div>
</nav>