<!DOCTYPE html>
<html>
<head>
	<title>websocket benchmark</title>
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
	<script src="/javascripts/webbench.js"> </script>
</head>
<body>
hello, websocket!
</body>
</html>