<!DOCTYPE html>
<html>
<head>
	<title>constant buffsize</title>
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
	<script src="/javascripts/constantbench.js"> </script>
</head>
<body>
constant buffsize websocket benchmark!
</body>
</html>