<!DOCTYPE html>
<html>
<head>
    <title>简云-SimpleCloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'pages/css/jRating.jquery.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/polaris.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the pages via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<script type="text/javascript">
		var STATIC_URL = "{% static 'pages/' %}";
	</script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="{% static 'pages/js/jRating.jquery.js' %}"></script>
	<script src="{% static 'pages/js/functions.js' %}"></script>
	<script src="{% static 'pages/js/icheck.js' %}"></script>
	<script src="{% static 'pages/js/highcharts.js' %}"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		//config checkbox
		$('input').iCheck({
			radioClass: 'iradio_polaris',
			increaseArea: '-10%' // optional
		});
	});
	</script>
</head>
<body>
    {% include "pages/includes/header.html" %}

    <div class="config">
        <div class="container">    
            <h3 class="text-center">虚拟机配置</h3>
            
            <div class="row">
                <form id="config_form" action="/static/pages/js/data.json" onSubmit="return false;" class="form-horizontal" role="form">
                    <div class="col-md-3 os">
                        <h4 class="">操作系统</h4>
                        <ul class="list first-li">
                            <li>
                                <input tabindex="23" type="radio" id="polaris-radio-1" name="os" value="1">                              
                                <label for="polaris-radio-1">Linux</label>
                            </li>
                        </ul>
                        <ul class="list">
                            <li>
                                <input tabindex="24" type="radio" id="polaris-radio-2" name="os" checked value="0">                              
                                <label for="polaris-radio-2">Windows</label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 cpu">
                        <h4 class="">CPU</h4>
                        <ul class="list first-li">
                            <li>
                                <input tabindex="23" type="radio" id="polaris-radio-19" name="vcpu" value="1">                              
                                <label for="polaris-radio-19">1 vCPU</label>
                            </li>
                            <li>
                                <input tabindex="24" type="radio" id="polaris-radio-20" name="vcpu" checked value="2">                              
                                <label for="polaris-radio-20">2 vCPU</label>
                            </li>
                            <li>
                                <input tabindex="23" type="radio" id="polaris-radio-21" name="vcpu" value="4">                              
                                <label for="polaris-radio-21">4 vCPU</label>
                            </li>
                            <li>
                                <input tabindex="24" type="radio" id="polaris-radio-22" name="vcpu" checked value="8">                              
                                <label for="polaris-radio-22">8 vCPU</label>
                            </li>
                        </ul>
                        <ul class="list">
                            <li>
                                <input tabindex="23" type="radio" id="polaris-radio-23" name="vcpu" value="12">                              
                                <label for="polaris-radio-23">12 vCPU</label>
                            </li>
                            <li>
                                <input tabindex="24" type="radio" id="polaris-radio-24" name="vcpu" checked value="16">                              
                                <label for="polaris-radio-24">16 vCPU</label>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 memory">
                        <h4 class="">内存</h4>
                        <ul class="list first-li">
                            <li>
                                <input tabindex="23" type="radio" id="polaris-radio-3" name="vram" value="1">                              
                                <label for="polaris-radio-3">1 GB</label>
                            </li>
                            <li>
                                <input tabindex="24" type="radio" id="polaris-radio-4" name="vram" checked value="2">                              
                                <label for="polaris-radio-4">2 GB</label>
                            </li>
                            <li>
                                <input tabindex="23" type="radio" id="polaris-radio-5" name="vram" value="4">                              
                                <label for="polaris-radio-5">4 GB</label>
                            </li>
                            <li>
                                <input tabindex="24" type="radio" id="polaris-radio-6" name="vram" checked value="8">                              
                                <label for="polaris-radio-6">8 GB</label>
                            </li>
                        </ul>
                        <ul class="list">
                            <li>
                                <input tabindex="23" type="radio" id="polaris-radio-7" name="vram" value="16">                              
                                <label for="polaris-radio-7">16 GB</label>
                            </li>
                            <li>
                                <input tabindex="24" type="radio" id="polaris-radio-8" name="vram" checked value="32">                              
                                <label for="polaris-radio-8">32 GB</label>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-3 disk">
                        <h4 class="">硬盘</h4>
                        <ul class="list first-li">
                            <li>
                                <input tabindex="23" type="radio" id="polaris-radio-11" name="storage" value="50">                              
                                <label for="polaris-radio-11">50 GB</label>
                            </li>
                            <li>
                                <input tabindex="24" type="radio" id="polaris-radio-12" name="storage" checked value="100">                              
                                <label for="polaris-radio-12">100 GB</label>
                            </li>
                            <li>
                                <input tabindex="23" type="radio" id="polaris-radio-13" name="storage" value="200">                              
                                <label for="polaris-radio-13">200 GB</label>
                            </li>
                            <li>
                                <input tabindex="24" type="radio" id="polaris-radio-14" name="storage" checked value="500">                              
                                <label for="polaris-radio-14">500 GB</label>
                            </li>
                        </ul>
                        <ul class="list">
                            <li>
                                <input tabindex="23" type="radio" id="polaris-radio-15" name="storage" value="1024">                              
                                <label for="polaris-radio-15">1 TB</label>
                            </li>
                            <li>
                                <input tabindex="24" type="radio" id="polaris-radio-16" name="storage" checked value="2048">                              
                                <label for="polaris-radio-16">2 TB</label>
                            </li>

                        </ul>
                    </div>
                </form>
            </div>
            <div class="row text-center">
                <a id="loading" onclick="ajax_post($('#config_form'),_config_form_processer, _config_form_before_submit_processer )" type="button" class="btn btn-gray btn-submit" >确定</a>
            </div>
            
        </div>
    </div>

    <div class="price">
        <div class="container">
            <h3 class="text-center">价格 Pricing</h3>
            <div class="row intro">
                <div class="col-md-10 col-md-offset-1">
                    <p class="font16 text-indent">
                        简云选取了目前市场上最流行的几个IaaS服务商，找到各个云平台符合用户配置检索的最合理的服务器购买方案，并将不同云平台的解决方案在价格方面进行对比。检索结果中包含了该解决方案的名称和具体配置，以及每小时费用（如果有按小时租用）和每月费用，我们还给出一个考虑了<strong>性能</strong>之后的<strong>综合评分</strong>供用户参考。
                    </p>
                </div>
            </div>
            <div class="row img-loading" style="display:none"> 
                <img src="{% static 'pages/images/loading.jpg' %}"/>
            </div>
            <div class="row data" style="display:none">
                <table class="table table-bordered">
                <thead class="">
                    <tr>
                        <th>Provider</th>
                        <th>Instance Type</th>
                        <th>CPU Cores</th>
                        <th>RAM</th>
                        <th>Storage</th>
                        <th>Price (per hour)</th>
                        <th>Price (30 days)</th>
                        <th>Ratings</th>
                        <th>View Links</th>
                    </tr>
                </thead>
                <tbody id="tb_info">
                </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="performance">
        <div class="container">
            <h3 class="text-center">通用服务器性能(General Server Performance)</h3>
            <div class="row intro">
                <div class="col-md-10 col-md-offset-1">
                    <p class="font16 text-indent">
                        Unixbench运行一组单独的基准测试，汇总分数，并创建一个最后的比分，以整体评估Linux系统的性能。UnixBench是原始字节的UNIX基准测试套件，更新和很多人修改了多年。 UnixBench的目的是提供一种类似Unix的系统的性能的基本指标，因此，多个测试是用于测试系统的性能的各个方面。这些测试结果进行比较，以从一个基线系统产生一个索引值，它通常更容易比​​原始分数来处理分数。整个组索引值，然后结合在一起，使该系统中的综合索引。一些很简单的图形测试包括量度系统的2D和3D图形性能。
                    </p>
                </div>
            </div>
            <div class="row img-loading" style="display:none"> 
                <img src="{% static 'pages/images/loading.jpg' %}"/>
            </div>
            <div class="row data" style="display:none">
                <div class="col-md-10 col-md-offset-1">
                    <div id="performance_unixbench" style="width:100%; height:320px;"></div>
                </div>
            </div>
            <div class="row data" style="display:none">
                <div class="col-md-10 col-md-offset-1">
                    <div id="performance_cloudsuite" style="width:100%; height:320px;"></div>
                </div>
            </div>
        </div>
    </div>


    {% include "pages/includes/footer.html" %}

</body>
</html>
